{% extends 'base.html' %}
{% block title %}Nova senha - VoteBem{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header text-center">
        <h4><i class="bi bi-lock"></i> Definir nova senha</h4>
      </div>
      <div class="card-body">
        {% if validlink %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-grid">
            <button type="submit" class="btn btn-success">Salvar nova senha</button>
          </div>
        </form>
        {% else %}
        <div class="alert alert-danger text-center">
            <p>O link de redefinição de senha é inválido ou expirou.</p>
            <p>Por favor, solicite uma nova redefinição de senha.</p>
        </div>
        <div class="d-grid">
            <a href="{% url 'users:password_reset' %}" class="btn btn-primary">Solicitar nova senha</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
